$ember-power-select-border-color: $input-border-color;
$ember-power-select-focus-box-shadow: $input-focus-box-shadow;
$ember-power-select-focus-border-color: $input-focus-border-color;

@import "ember-power-select/themes/bootstrap";
@import "ember-power-select";

.ember-power-select-trigger {
  white-space: nowrap;
  padding-right: 25px;
  border-radius: $border-radius-sm;

  &[aria-expanded="true"] .ember-power-select-status-icon {
    transform: translateX(-85%) translateY(1px) rotate(225deg);
  }
}

.ember-power-select-status-icon {
  right: 0;
  width: 8px;
  height: 8px;
  border-color: $body-color;
  border-width: 0 2px 2px 0;
  transform: translateY(-50%) translateY(1px) translateX(-85%) rotate(45deg);
}
