/// Import OpenSans Regular
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('OpenSans'),
       url($root-url + 'fonts/opensans/OpenSans-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@mixin font-regular() {
  font-family: 'Open Sans';
}

/// Import OpenSans Semibold
@font-face {
  font-family: 'Open Sans Semibold';
  src: local('Open Sans Semibold'), local('OpenSans Semibold'), local('OpenSansSemibold'),
       url($root-url + 'fonts/opensans/OpenSans-Semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@mixin font-semibold() {
  font-family: 'Open Sans Semibold';
}

/// Import OpenSans Bold
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('OpenSans'),
       url($root-url + 'fonts/opensans/OpenSans-Bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@mixin font-bold() {
  font-family: 'Open Sans';
  font-weight: bold;
}

/// Import Source Code Pro Regular
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: normal;
  src: local('Source Code Pro Regular'), local('SourceCodePro-Regular'),
       url($root-url + 'fonts/sourcecodepro/source-code-pro-regular.woff') format('woff');
}

@mixin font-monospace() {
  font-family: 'Source Code Pro';
}

/// Import Source Code Pro Bold
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: bold;
  src: local('Source Code Pro Bold'), local('SourceCodePro-Bold'),
       url($root-url + 'fonts/sourcecodepro/source-code-pro-bold.woff') format('woff');
}

@mixin font-monospace-bold() {
  font-family: 'Source Code Pro';
  font-weight: bold;
}

/// Import Source Code Pro Regular Italic
@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: normal;
  src: local('Source Code Pro Medium Italic'), local('SourceCodePro-MediumIt'),
       url($root-url + 'fonts/sourcecodepro/source-code-pro-italic.woff') format('woff');
}

/// Import Source Code Pro Bold Italic
@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: bold;
  src: local('Source Code Pro Bold Italic'), local('SourceCodePro-BoldIt'),
       url($root-url + 'fonts/sourcecodepro/source-code-pro-bold-italic.woff') format('woff');
}

$fa-font-path: $root-url + "fonts/fontawesome";
@import "./node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "./node_modules/@fortawesome/fontawesome-free/scss/solid";
