.one-copy-button {
  display: inline-block;
  position: relative;

  .copy-input {
    padding-right: $spacer * 2;
    text-overflow: ellipsis;
  }

  .copy-textarea {
    font-family: monospace;
    resize: none;
  }

  .copy-btn {
    color: $body-color;
  }

  &.mode-input,
  &.mode-textarea {
    .copy-btn {
      position: absolute;
      right: $spacer * 0.2;
      border: 0;
      background: radial-gradient(circle, rgba(253, 253, 253, 1) 0%, rgba(253, 253, 253, 0) 80%);
      font-size: 120%;
      outline: none;
    }
  }

  &.mode-input {
    .copy-btn {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.mode-textarea {
    .copy-btn {
      width: 2em;
      height: 2em;
      bottom: 0;
      transform: translateY(-$spacer * 0.5) translateX(-$spacer * 0.4);
    }
  }
}
