.query-results {
  .results-list {
    margin-top: $spacer * 0.5;
    padding: 0;
  }

  .query-results-result {
    + .query-results-result {
      margin-top: $spacer * .5;
    }
  }

  .card-header {
    display: flex;
    justify-content: flex-end;
    font-size: 90%;
  }
}
