.query-results-pagination {
  display: inline-flex;
  align-items: center;
  font-size: 85%;

  .form-control {
    font-size: 100%;
    padding: 0;
  }

  .input-group {
    width: initial;
  }

  .btn {
    border: 0;
    padding: 3px 5px;
  }

  .pages-counter-container {
    align-items: center;
    display: flex;
    border: 0;
    padding: 0 $spacer * 0.4;
  }

  .active-page-number {
    width: 3em;
    margin-right: $spacer * 0.3;
    padding: 3px;
    border: 1px solid $input-border-color;
    border-radius: $input-border-radius;
    text-align: center;
  }

  .pages-count {
    margin-left: $spacer * 0.3;
  }

  .page-size-selector {
    margin-left: $spacer * 0.7;
    margin-right: $spacer * 0.5;
    flex-shrink: 0;
  }

  .per-page-label {
    white-space: nowrap;
  }

  .last-page, .first-page {
    svg {
      height: 1.25em;
    }
  }
}
