<ul>
  {{#each @queryResults.results as |queryResult|}}
    <li><samp>{{{queryResult.simplyFormattedJson}}}</samp> <a href={{queryResult.fileBrowserUrl}} target="_blank">Go to file</a></li>
  {{/each}}
</ul>
{{yield}}
