<div class="query-results">
  <ul class="results-list">
    {{#each @queryResults.results as |queryResult|}}
      <li class="card result">
        <div class="card-header">
          <a class="go-to-file-link" href={{queryResult.fileBrowserUrl}} target="_blank">
            {{t "components.query-results.goToFileLink"}}
          </a>
        </div>
        <div class="card-body">
          <p class="card-text"><samp>{{{queryResult.simplyFormattedJson}}}</samp></p>
        </div>
      </li>
    {{/each}}
  </ul>
</div>
{{yield}}
