.query-builder-block-selector {
  .operators-list {
    padding: 0;
    list-style-type: none;
    display: flex;
  }

  .operator {
    margin-right: $spacer * 0.25;
    text-transform: uppercase;
  }
}
