.query-builder-block-adder {
  .add-trigger {
    background-color: transparent;
    border: 1px dashed rgba($gray-900, 0.3);
    color: black;
    line-height: 1;
    font-size: 80%;

    &:hover {
      background-color: rgba($gray-900, 0.1);
    }
  }
}
