.query-builder-block-adder {
  .add-trigger {
    display: block;
    // border: 0;
    line-height: 1;
    font-size: 60%;
    padding: 2px 3px;

    // &:hover {
    //   background-color: rgba($gray-900, 0.1);
    // }
  }
}
